.experienceSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    width: 100vw;
    height: 100vh;
    /* border: 3px solid red; */
}

.experienceHeader {
    height: 100px;
    font-size: 100px;
    color: white;
    font-weight: bolder;
    text-align: center;
    margin-top: calc(30vh - 100px);
    position: relative;
    /* border: 3px solid white; */
}

.experienceCompContainer {
    padding-top: 10vh;
    opacity: 0;
}

.timeline {
    z-index: 20;
}