@font-face {
    font-family: 'paragraph-font';
    src: url('../assets/fonts/RobotoSerif.ttf') format('truetype');
}

@font-face {
    font-family: 'header-font';
    src: url('../assets/fonts/LibreBaskerville-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'navbar-font';
    src: url('../assets/fonts/PollerOne-Regular.ttf') format('truetype');
}