@font-face{
    font-family: 'Arcade';
    src: url('../assets/fonts/ARCADECLASSIC.TTF');
    font-weight: normal;
    font-style: normal;
}

.navbar{
    padding: 3rem 0rem;
    position: fixed;

    background-color: black;
    border-right: 1px solid white;

    color: white;
    font-family: 'Arcade';
    font-size: 4rem;
    font-weight: 600;
    z-index: 10;
    width: 15vw;
}

.navbar-container{
    margin: 0px 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name{
    padding-bottom: 20px;
    line-height: 4rem;
}

.navbar-middle-links{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    gap: 10%;
    font-size: 2.5rem;
    font-weight: 300;
}

.custom-link {
    color: inherit; /* Use the inherited color instead of the default blue */
    text-decoration: none; /* Remove the underline */
    position: relative;
}

.custom-link.brand{
    text-decoration: none;
}

.custom-link:hover {
    color: #e79111;
}

.custom-link::after{
    content: '';
    height: 2px;
    width: 100%;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -4px;
    opacity: 0;
}

.custom-link:hover::after{
    opacity: 1;
}
.active{
    color: #e79111;
}
.active::after{
    content: '';
    height: 2px;
    width: 100%;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -4px;
    opacity: 1;
}




