.post-container {
    width: 100vw;
    padding-left: 15vw;
    padding-right: 15vw;
    flex-grow: 1;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
    min-height: 100vh;
    font-family: 'Arcade';
    word-spacing: 5px;
}

.post-middle-container{
    flex-grow: 1;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 40vw;
    gap: 20px;
    color: white;
    padding-bottom: 100px;
}

.post-content-img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.post-content-title{
    font-size: 50px;
    font-weight: bolder;
    margin-top: -10px;
    color: white;
}

.post-content-date{
    font-size: 18px;
    color: #e79111;
    font-weight: bold;
    margin-top: -20px;
}

.post-content{
    font-size: 20px;
    color: white;
    line-height: 1.5;
    white-space: pre-wrap;
}

.fas:hover{
    color: #e79111;
}

.post-loading{
    color: #e79111;
    font-size: 50px;
    margin-top: 20px;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}